
@{
    ViewBag.Title = "CalisanListe";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center table-dark">
                        <th style="width: 30%;">
                            Personelin Adı Soyadı
                        </th>
                        <th style="width: 30%;">
                            Personelin Dahili Telefon Numarası
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var personel in ViewBag.personeller)
                    {
                        <tr class="text-center">
                            <td value="@personel.personelId">@personel.personelAdSoyad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>