@model IsTakipSistemiMVC.Models.Personeller

@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

<div class="card mt-5">
    <div class="card-body">
        <h4 class="card-title">Personel Güncelle</h4>
        @using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post, new { @class = "form-group" }))
        {
            <input type="hidden" value="@Model.personelId" name="id" />

            <div class="form-group mb-3">
                <label for="adSoyad" class="form-label">Personel Ad Soyad</label>
                <input type="text" class="form-control form-control-lg" id="adSoyad" name="adSoyad" value="@Model.personelAdSoyad" />
            </div>

            <div class="form-group mb-3">
                <label for="telefon" class="form-label">Telefon Numarası</label>
                <input type="text" class="form-control form-control-sm" id="telefon" name="telefon" value="@Model.personelTelefon" />
            </div>

            <div class="form-group mb-3">
                <label for="adres" class="form-label">Adres</label>
                <input type="text" class="form-control form-control-sm" id="adres" name="adres" value="@Model.personelAdres" />
            </div>

            
            <div class="form-group">
                <button class="btn btn-success" type="submit">Personel Güncelle</button>
            </div>
        }
    </div>
</div>

<style>
    .card {
        border-radius: 15px;
        border: none;
    }

    .card-title {
        font-weight: bold;
    }

    .form-label {
        margin-bottom: 10px;
    }

    .form-control, .form-select {
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

        .btn-success:hover {
            background-color: #218838;
        }
</style>
